<section>
    <div class="headPage_contentImg"><img src="img/wallpaperHeaderHome.jpg" alt="Estudiando"></div>
</section>
<main class="content">
    <section class="typeEjer">
        <section>
            <h3>TechCode Ejercicios, es un sitio de practica de codigos</h3>
            <p>Podras encontrar varios ejercicios de varios lenguajes completados.</p>
            <p>Por medio del estudio, se van haciendo nuevas publicaciones.</p>
        </section>
        <h3>Ejercicios de JavaScript</h3>
        <ul>    
            <li><a href="/ejercicios-javascript/Basico">JavaScript: Basico</a></li>
            <li><a href="/ejercicios-javascript/Intermedio">JavaScript: Intermedio</a></li>
            <li><a href="/ejercicios-javascript/Avanzado">JavaScript: Avanzado</a></li>
        </ul>
    </section>
</main>
