<main>
    <article class="nav_article"></article>
    <section class="Ejer Ejer_1">
        <h2>Ejercicio Numero 1 </h2>
        <p>Programa que pida dos numeros y que nos diga cual es el mayor, el menor y si son iguales.</p>
        <span>A)</span>
        <input class="input inp_1" type="text" placeholder="0">
        <span class="mayor-menor-igual"></span>
        <span>B)</span>
        <input class="input inp_2" type="text" placeholder="0">
        <button>Resultado</button>
        <div class="resultado"></div>
    </section>
    <section class="Ejer Ejer_2">
        <h2>Ejercicio Numero 2 </h2>
        <p>
            Al programa anterior: Si los numeros no son un numero o son menores 
            o iguales a cero, nos los vuelva a pedir
        </p>
        <button class="btnEjer_2">Probar 2 Ejercicio</button>
    </section>
    <section class="Ejer Ejer_3">
        <h2>Ejercicio Numero 3 </h2>
        <p>
            Utilizando un bucle, mostrar la suma y la media de los numeros introducidos hasta introducir
            numero negativo y ahi mostrar el resultado.
        </p>
        <div class="content_btn">
            <button class="btnEjer_3">Probar 3 Ejercicio</button>
        </div>
        <div class="content_inp">
            <div class="Resultado"></div>
            <input type="number" placeholder="Introduce numeros" tabindex="1">
            <button class="btnEnviar">Enviar</button>
        </div>
    </section>
    <section class="Ejer Ejer_4">
        <h2>Ejercicio Numero 4 </h2>
        <p>
            Hacer un programa que muestre todos lo numeros entre dos numeros introducidos por el usuario.
        </p>
        <div class="content_btn">
            <button class="btnEjer_4">Probar 4 Ejercicio</button>
        </div>
        <div class="content_inp">
            <div class="Resultado"></div>
            <input type="number" placeholder="Introduce numeros" tabindex="1">
            <button class="btnEnviar">Enviar</button>
        </div>
    </section>
    <section class="Ejer Ejer_5">
        <h2>Ejercicio Numero 5 </h2>
        <p>
            Mostrar todos los numeros impares que hay entre dos numeros introducidos por el usuario.
        </p>
        <div class="content_btn">
            <button class="btnEjer_5">Probar 5 Ejercicio</button>
        </div>
        <div class="content_inp">
            <div class="Resultado"></div>
            <input type="number" placeholder="Introduce numeros" tabindex="1">
            <button class="btnEnviar">Enviar</button>
        </div>
    </section>
    <section class="Ejer Ejer_6">
        <h2>Ejercicio Numero 6 </h2>
        <p>
            Muestre todos los numeros divisores de un numero introducido por un prompt.
        </p>
        <div class="content_btn">
            <button class="btnEjer_6">Probar 6 Ejercicio</button>
        </div>
        <div class="content_inp content_only">
            <div class="Resultado"></div>
        </div>
    </section>
    <section class="Ejer Ejer_7">
        <h2>Ejercicio Numero 7 </h2>
        <p>
            Programa que nos diga si un numero es par o impar.
        </p>
        <p>
            Ventana Prompt.
        </p>
        <p>
            Si no es valido que nos pida de nuevo el numero.
        </p>
        <div class="content_btn">
            <button class="btnEjer_7">Probar 7 Ejercicio</button>
        </div>
        <div class="content_inp content_only">
            <div class="Resultado"></div>
            <div class="parValidation">Par</div>
            <div class="imparValidation">Impar</div>
        </div>
    </section>
    <section class="Ejer Ejer_8">
        <h2>Ejercicio Numero 8 </h2>
        <p>
            Tabla de multiplicar de un numero introducido por pantalla.
        </p>
        <div class="content_btn">
            <button class="btnEjer_8">Probar 8 Ejercicio</button>
        </div>
        <div class="content_inp content_only">
            <div class="Resultado"></div>
        </div>
    </section>
    <section class="Ejer Ejer_9">
        <h2>Ejercicio Numero 9 </h2>
        <p>
            Pida dos numeros por pantalla.
        </p>
        <p>
            Si metemos uno mal que nos los vuelva a pedir.
        </p>
        <p>
            En el cuerpo de la pagina, en una alerta y por la consola el resultado de sumar, restar, 
            multiplicar y dividir esas dos cifras.
        </p>
        <p>
            Refactoriza el codigo para encapsularlo todo en funciones reutilizables.
        </p>
        <div class="content_btn">
            <button class="btnEjer_9">Probar 9 Ejercicio</button>
        </div>
        <div class="content_calculator">
            <div class="Resultado"></div>
        </div>
    </section>
    <section class="Ejer Ejer_10">
        <h2>Ejercicio Numero 10 </h2>
        <p>
            Programa que pida 6 numeros por pantalla y los meta en un array.
        </p>
        <p>
            Mostrar el array entero en el cuerpo de la pagina y en la consola.
        </p>
        <p>
            Ordenar el array anterior y mostrarlo.
        </p>
        <p>
            Invertir el orden anterior y mostrarlo.
        </p>
        <p>
            Mostrar cuantos elementos tiene el array anterior.
        </p>
        <div class="content_btn">
            <button class="btnEjer_10">Probar 10 Ejercicio</button>
        </div>
        <div class="content_lateral">
            <div class="Resultado"></div>
            <div class="btnControl">
                <span class="normal">Normal</span>
                <span class="orden">Ordenar</span>
                <span class="invertir">Invertir</span>
            </div>
        </div>
    </section>
    <section class="Ejer Ejer_11">
        <h2>Ejercicio Numero 11 </h2>
        <p>
            Busqueda de un valor introducido por el usuario, que nos diga si lo encuentra en el array o no.
        </p>
        <div class="content_btn">
            <h3>Agrega un dato</h3>
            <input placeholder="Agrega un dato" class="agregar"type="text"/>
            <button class="btnAgregar">Agregar</button>
            <h3>Busca un dato</h3>
            <input placeholder="Buscar un dato" class="busqueda" type="text"/>
            <button class="btnBuscar">Buscar</button>
        </div>
        <div class="content_lateral">
            <div class="Resultado"></div>
        </div>
    </section>
</main>
